@mixin b-Cover{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-position: center;
    background-size: cover;
}

//首页列表项mixin
@mixin ListItem_1{
    .amx-ListItem__img{
        @apply w-full h-40 relative;
    }
    .link {
        
        @include b-Cover;
        @apply text-center;
        border-radius: 5px;
        width: 100%;
        height: 100%;
    }
    .c-rt {
            @apply absolute top-0 right-0 text-white font-semibold font-mono;
            font-size: 10px;
            background: linear-gradient(to right, #b7f5d0, #66e9a7);
            border: 1px solid #81d9a9;
            padding: 0px 3px;
            border-radius: 0 5px 0 6px;
            color: #0a3720;
        }

        .c-rt-1 {
            color: #0a3720;
            background: linear-gradient(to right, #b7f5d0, #66e9a7);
        }

        .c-rt-2 {
            color: #663700;
            border: 1px solid #c9b487;
            background: linear-gradient(to right, #ffeec3, #f9b761);
        }

        .c-rt-3 {
            color: #673800;
            padding: 0;
            background-color: transparent;
            border: unset;
            // background: linear-gradient(to right, #ffeec3, #66e9a7);

            span:first-child {
                background-color: #020104;
                color: #e2e2e2;
                @apply inline-block font-mono;
                padding: 0 2px 0 3px;
                border-radius: 0 0 0 5px;

            }

            span:last-child {
                background: linear-gradient(to right, #ffeec3, #f9b761);
                color: #663700;
                @apply inline-block font-mono;
                ;
                padding: 0 3px 0 2px;
                border-radius: 0 5px 0 0;
            }
        }

        .c-lb1 {
            @apply absolute text-center font-semibold font-mono;
            bottom: 1px;
            left: 1px;
            font-size: 9px;
            background-color: #23314b;
            color: var(--amx-noChange-color);
            padding: 1px 3px;
            border-radius: 2px;
        }
        .c-lb2 {
            @apply absolute text-white font-normal font-mono;
            bottom: 1px;
            left: 1px;
            font-size: 9px;
            // background-color: #23314b;
            padding: 1px 3px;
            border-radius: 2px;
        }
        .c-rb {
            @apply absolute text-white font-semibold;
            right: 4px;
            bottom: 2px;

            .c-date {
                color: #ff7f00;
            }
        }

        .c-rb-2 {
            @apply absolute text-white font-semibold;
            right: 4px;
            bottom: 2px;
            font-size: 9px;
            background: linear-gradient(to right, #ae3919, #cf1d3f);
            padding: 1px 3px;
            border-radius: 5px;
            color: #fff;

            .c-date {
                color: #fff;
            }
        }
        .c-rb-3 {
            @apply absolute text-white font-normal;
            right: 0px;
            bottom: 2px;
            font-size: 9px;
            padding: 0px 3px;
            border-radius: 5px;
            color: #fff;

            .c-date {
                color: #fff;
            }
        }
        .c-lt {
            @apply absolute text-white font-semibold;
            top: 1px;
            left: 1px;
        }
        .c-lt_2 {
            @apply absolute text-white font-mono;
            font-size: 10px;
            top: 0px;
            left: 0px;
            padding: 0 3px 0 2px;
            border-radius: 5px 0px 5px 0;
            background-color: var(--amx-bc-simple);
        }

        .c-lrb {}
        .c-title {
            @apply truncate font-sans;
            font-size: 15px;
            color: var(--amx-text);
        }

        .c-info {
            @apply truncate font-sans flex justify-between;
            color: var(--amx-text-simple);

            a {
                @apply truncate;
                font-size: 12px;
                height: 18px;
            }

            .more {
                font-size: 16px;

                i {
                    vertical-align: baseline;
                    font-size: 15px;
                    color: var(--amx-text-simple);
                }
            }
        }
        .c-class{
            @apply truncate font-sans flex justify-between;
            color: var(--amx-text-simple);
            .c-tag{
                @apply text-ellipsis font-sans truncate;
                width: 100%;
                font-size: 10px;
                margin-top: 2px;
                line-height: 1.5;
               span{
                padding: 1px 4px;
                margin: 0 2px;
                @apply inline-block;
               }
               .c-tag-1{
                background-color: var(--amx-button-bc);
            }
            .c-tag-2{
                padding: 1px 4px;
                background-color: var(--amx-orange-bc-tag);
                color: var(--amx-orange-color-tag);
                display: inline-block;
                border-radius: 4px;
            }
            }
            
            
        }
}

//排序颜色
@mixin rankColor{
    .rank_1_c{
        color: #f7174d;
    }
    .rank_2_c{
        color: #f55d00;
    }
    .rank_3_c{
        color: #eb9500;
    }
    .rank_N_c{
        color: #7a95ce;
    }
}
//多种tag颜色
@mixin tagColor{
    .limitFree{
        color: var(--amx-theme-color);
        background-color: var(--amx-free-bc-tag);
    }
    .hot {
        background-color: var(--amx-orange-bc-tag);
        color: var(--amx-orange-color-tag);
    }
}