:root {
    --amx-header-input-height: 36px;
    --amx-header-search-input-height: 32px;
    --amx-header-title-color: #171717;
    --amx-header-title-simple: #272727;
    --amx-header-scroll-height: 40px;
    --amx-theme-color: #3fca80;
    --amx-theme-color-simple: #e3fae8;
    --amx-play-height:215px;
    --amx-play-width:100%;
    --amx-play-info-title:30px;
    --amx-play-button-bc:#f2f5fa;
    --amx-play-text-smail-color:#9f9a9a;
    --amx-bc:#fff;
    
}