:root {
    --amx-header-input-height: 36px;
    --amx-header-search-input-height: 32px;
    --amx-header-title-color: #171717;
    --amx-header-title-simple: #272727;
    --amx-header-scroll-height: 40px;
    /* 导航右侧的跟多导航宽度 */
    --amx-header-scroll-bar-width: 46px;
    --amx-theme-color: #3fca80;
    --amx-theme-color-simple: #e3fae8;
    --amx-play-height:215px;
    --amx-play-width:100%;
    --amx-play-info-title:30px;
    --amx-play-button-bc:#f2f5fa; 
    /* 背景色--amx-bc 相互覆盖 */
    --amx-play-text-smail-color:#9f9a9a;
    --amx-bc:#fff;
    --amx-bc-simple:#afb0b25e;
    /* hr颜色 button-border */
    --amx-hr-color:#f1f1f1;
}